* {
    box-sizing: border-box;
    padding: 0px;
    margin: 2px 2px;
    scrollbar-width: none;
    border-radius: 10px;
    overflow: hidden;

}

body {
    background-color: aliceblue;
}

.main-container{
    display: flex;;
}

.header-container {
    background: linear-gradient(to Right, RED, rgb(253, 113, 19));
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;


}

.h1-header {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.image-logo {
    width: 250px;

}


.funcionarios-container{
    margin: 4px 4px;
    border-radius: 10px;
    width: 340px;
    padding: 20px;
    height: 100vh;
    background-color: rgb(201, 211, 211);
}

.funcionarios-container li{
    padding: 20px;
    font-size: 20px;
}

.button-Add{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}


.formulario-container{
    background-color: rgb(199, 182, 182);
    width: 500px;
    height: 500px;
    position: relative;
    top: 30px;
    left: 32%;
}

.formulario{
    padding: 20px;
}

.formulario > input{
  padding: 10px;
}